
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gupshup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A WebRTC Demo">
    <meta name="author" content="Anant Narayanan">
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- For IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          &nbsp;
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <h1>[ˈɡʌpʃʌp] n.,</h1>
        <p>&nbsp;</p>
        <p>
          Welcome <i><%= user %></i>!<br/>
          Click on any online user to initiate a chat.
        </p>
      </div>

    </div>

    <script src="https://login.persona.org/include.js"></script>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/chat.js"></script>
  </body>
</html>
