
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gupshup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A WebRTC Demo">
    <meta name="author" content="Anant Narayanan">
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        /* 60px to make the container go all the way to the bottom of the topbar */
        padding-top: 60px;
      }
    </style>
    <!-- For IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          &nbsp;
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <h1>[ˈɡʌpʃʌp] n.,</h1>
        <p>A quick and easy way to chit chat across browsers!</p>
      </div>

    </div> <!-- /container -->

    <script src="https://login.persona.org/include.js"></script>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/gupshup.js"></script>
  </body>
</html>
